.container {
  color: white;

 
.title{
  display: flex;

  span {
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
  }
}

} 